/*! CSS bare bones for recipes site */

 html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main{
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: azure;
}

h1 {
  text-align: center;
  background-color: violet;
  border: 8px solid black; 
  padding: 20px;
}

body {
  text-align: center;
  border: 20px solid black;
  background-color: lightcoral;
}

img {
  width: 90%;
  align-self: center;
  margin: 0 auto; 
}
/* the rest is up to you */


