/*! CSS bare bones for recipes site */
 html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main{
  margin: 0 auto;
  padding: .5cm 1.5cm;
  box-sizing: border-box;
  background-color: khaki;
  width: 70%;
  max-width: 850px;
  border: 3px solid black;
  overflow: auto;
}

h1 {
  text-align: center;
  background-color: lightcoral;
  border: 5px solid black; 
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: xx-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  text-align: center;
  background-color: lightcoral;
  border: 5px solid black;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  text-align: center;
  background-color: khaki;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  width: 90%;
  align-self: center;
  margin: 0 auto; 
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-teaser {

  border: 3px solid black;
  flex-basis:300px;
  flex-grow: 1;
  margin: 1cm;
  padding: 1cm;
}

@media screen and (max-width: 700px) {
  main {
    margin: 0;
    padding: 1cm;
    width: 100%;
    border: 100%
    
  }

  p:has(img){
    float:none;
    border: 3px solid black (134, 134, 134);
    width: 100%
    padding 10px;
    margin-left: 0cm;
  }
}
/* the rest is up to you */


